footer.footer
  .container
    .link
      .columns
        .column
          strong
            a(href="/about") About
          hr.separator/
          ul
            li
              a(href="/about#overview") Overview
            li
              a(href="/about#developers") Developers
        .column
          strong
            a(href="/features") Features
          hr.separator/
          ul
            li
              a(href="/features#current") Current
            li
              a(href="/features#request") Request
        .column
          strong
            a(href="/press") Press
          hr.separator/
          ul
            li
              a(href="/press#resources") Resources
            li
              a(href="/press#license") License
        .column
          strong
            a(href="/social") Social
          hr.separator
          ul
            li
              a(href="http://twitter.com/neverboreds") Twitter
            li
              a(href="http://www.facebook.com/neverboredstudios") Facebook
    .copy
      a.copy__link(href="http://www.neverboredstudios.com/") Copyright 2022 NeverBored Studios All Rights Reserved
