header.header
  .container
    .columns.columns--centered
      .column
        a(href="/")
          img(src="/logo.svg" alt="Hearts")
      .column.column--narrow
        a.button.button--appstore(href="/download")
          .button__content
            .button__icon
              img(src="/appstore.svg" width=60 height=60)
            .button__text
              .button__subtitle Available on the Mac
              .button__title
                strong.serif App Store
