.share
  .share__item
    a.share__link.share--tw(href="http://twitter.com/share?url=http://gethearts.com/&text=Hearts%20on%20Mac%20" alt="Twitter")
  .share__item
    a.share__link.share--fb(href="http://www.facebook.com/share.php?u=http://gethearts.com/&t=Hearts%20on%20Mac" alt="Facebook")
