.carousel {
  padding: 20px 0px;
  background-color: #222222;

  &__zoom {
    position: absolute;
    display: block;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    color: #222222;
    text-align: center;
    font-size: 28px;
    line-height: 24px;
    background-image: linear-gradient(#ED145B, #9D0A0F);
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  &__entry {
    position: relative;
    display: block;
    background-image: linear-gradient(#FFFFFF, #EEEEEE);
    border: 2px solid #FFFFFF;
    text-decoration: none;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}
