.copy {
  text-align: center;
  padding: 8px 0px;
  margin: 8px 0px;

  &__link {
    color: #CCC;
    text-decoration: none;
    &:hover {
      color: #DDD;
      text-decoration: none;
    }
  }
}
