.header {
  color: #FFF;
  text-shadow: #222222 -1px -1px 1px;
  text-shadow: rgba(0, 0, 0, 0.2) -1px -1px 1px;
  padding: 2em 0px;
  background-image: asset_url("textures/checked.svg"), linear-gradient(#ED145B, #9D0A0F);
}
